<section class="main_body">
    <div id="left_section">
        <p class="headertext">Burgers to Eat</p>
        {{!-- unless devoured means devoured = 0 or false --}}
        <ul>
          {{#each burgers}}
            {{#unless devoured}}
              {{!-- partials --}}
              {{> need-to-eat}}
            {{/unless}}
          {{/each}}
        </ul>
    </div>
    <div id="mid_section">
        <img src="/assets/img/burger1.png" alt="burger drawing" width="200" height="200">
        <p class="burgertext">Eat Da Burger!</p>
        <form id="burgeradder" class="button-size">
            <textarea type="text" name="burger" id="burgername"></textarea>
            <button type="submit" id="saveburger">Save Burger!</button>
        </form>
        <p>Enter the name of a burger you want to eat and press the 'Save Burger!' button.</p>
    </div>
    <div id="right_section">
        <p class="headertext">Burgers you Ate</p>            
        {{!-- if devoured means devoured = 1 or true --}}
        <ul>
          {{#each burgers}}
            {{#if devoured}}
              {{!-- partials --}}            
              {{> eaten}}
            {{/if}}
          {{/each}}
        </ul>
    </div>                

</section>